@import "./colors.css";
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

html{
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: var(--color-bg);
}

button{
    cursor: pointer;
}

.custom-gradient{
    background: var(--color-gradient);
}

.loader {
    border: 12px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    width: 1em;
    height: 1em;
    font-size: 80px;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
